---
layout: markdown_page
title: "Create:Knowledge BE Team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

The Create:Knowledge BE team is responsible for all backend aspects of the product categories that fall under the [Knowledge group][group] of the [Create stage][stage] of the [DevOps lifecycle][lifecycle].

[group]: /handbook/product/categories/#knowledge-group
[stage]: /handbook/product/categories/#create-stage
[lifecycle]: /handbook/product/categories/#devops-stages

## Team Members

The following people are permanent members of the Create:Knowledge BE Team:

<%= direct_team(manager_role: 'Engineering Manager, Create:Knowledge & Create:Editor', role_regexp: /[,&] Create:Knowledge/) %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] (Create(?!:)|Create:Knowledge)/, direct_manager_role: 'Engineering Manager, Create:Knowledge & Create:Editor') %>

## Hiring

This chart shows the progress we're making on hiring. Check out our
[jobs page](https://about.gitlab.com/jobs/) for current openings.

<%= hiring_chart(department: 'Create:Knowledge BE Team') %>

## Work

In general, we use the standard GitLab [engineering workflow]. To get in touch
with the Create:Knowledge BE team, it's best to [create an issue] in the relevant project
(typically [GitLab CE]) and add the `~"group::knowledge"` and `~backend` labels, along with any other
appropriate labels. Then, feel free to ping the relevant Product Manager and/or
Engineering Manager as listed above.

For more urgent items, feel free to use [#g_create_knowledge] on Slack.

[engineering workflow]: /handbook/engineering/workflow/
[create an issue]: /handbook/communication/#everything-starts-with-an-issue
[GitLab CE]: https://gitlab.com/gitlab-org/gitlab-ce
[#g_create_knowledge]: https://gitlab.slack.com/archives/g_create_knowledge

### What to work on

<%= partial("handbook/engineering/development/dev/create/what_to_work_on.erb", locals: { group: "Knowledge", slack_channel: 'g_create_knowledge' }) %>

[issue board]: https://gitlab.com/groups/gitlab-org/-/boards/412126?label_name[]=group::knowledge&label_name[]=backend
[assignment board]: https://gitlab.com/groups/gitlab-org/-/boards/1143523

### Async standup

<%= partial("handbook/engineering/development/dev/create/async_standup.erb") %>

### Retrospectives

<%= partial("handbook/engineering/development/dev/create/retrospectives.erb", locals: { group: "Knowledge", group_slug: 'knowledge' }) %>

### Deep Dives

<%= partial("handbook/engineering/development/dev/create/deep_dives.erb") %>
